<%- include('./partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <%- include('./partials/leftMenu') %>

      <div class="col-lg-9">

        <div class="row">

<!-- On crée une boucle qui permet de créer autant d'objet que d'entrée dans la table figurine de la db. -->
          <% for(const article of figurine) { %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article">
                <img class="card-img-top" src="./images/<%= article.name.toLowerCase() %>.png" alt="">
                <div class="badge-category badge badge-pill badge-<%= article.category.toLowerCase() %>"><%= article.category %></div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article"><%= article.name %></a>
                </h4>
                <h5><%= article.price %>€</h5>
                <p class="card-text"><%= article.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>
          <% } %>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <%- include('./partials/footer') %>

